Здравствуйте, {{ fio }}.

МЫ СОЖАЛЕЕМ… 😔

К сожалению, после внимательного и тщательного рассмотрения вашей заявки мы вынуждены сообщить, что на данном этапе вы не прошли в **Nfactorial Incubator**. Решение далось нам нелегко: в этом потоке было много сильных кандидатов, и конкуренция оказалась особенно высокой.

**Почему так получилось?**
- Мы оценивали сразу несколько критериев: технические навыки, мотивацию и соответствие формату программы.  
- Иногда не хватает небольших деталей в резюме, проектах или мотивационном письме.

**Чего стоит ждать дальше?**
1. Мы сохраним ваше резюме и результаты в базе данных и при появлении новых потоков учтём вашу кандидатуру в первую очередь.  
2. Рекомендуем вам продолжать развивать навыки по следующим направлениям:  
   - Углубить знания по Python и системному дизайну  
   - Попрактиковаться в решении кейсов на алгоритмы и структуры данных  
   - Поделиться вашими проектами в открытом доступе (GitHub, портфолио)

**Полезные ресурсы**  
- 📖 Бесплатные курсы и туториалы: [nfactorial.com/resources](https://nfactorial.com/resources)  
- 🎓 Сообщество выпускников Incubator: ссылка будет доступна после регистрации  
- 💡 Вебинары и мастер‑классы – следите за анонсами на нашем сайте

Мы искренне благодарим вас за проявленный интерес и потраченное время. Не останавливайтесь на достигнутом и продолжайте двигаться к своей цели – всё впереди!

С наилучшими пожеланиями,  
Команда Nfactorial Incubator  